<form action="/sessions" method="post" class="smart-orange">
    <h1>Please sign in
        <span>Please fill all the fields.</span>
    </h1>
    <label>
        <span>Email :</span>
        <input id="email" type="email" name="email" placeholder="example@example.com" />
    </label>
    
    <label>
        <span>Password :</span>
        <input id="password" type="password" name="password" />
        <a href="/request_password">Forgot your password?</a> 
    </label>
    <label>
        <span>&nbsp;</span> 
        <input type="submit" class="button" value="Sign in" /> 
    </label>
</form>
