/*==============================
            HEADER
==============================*/

header {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, #FFFFFF, #e2e2e2);
  border-bottom: 1px solid #ccc;
  color: black;
  display: flex;
  padding: 0 5px;
}

header #logo {
  margin: auto 0;
  display: flex;  
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  font-size: 22px;
}

a#homepage-logo {
  text-decoration: none;
}

a#homepage-logo:visited {
  color:black;
}

header > * {
  margin:auto 5px;
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align:right;
}

a.button {
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  display:inline-block;
  width:80px;
  height: 26px;
  background-color: #F09A6F;
  border: 1px solid #ccc;
  color:white;
  text-align:center;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0,0.4);
  padding-top:10px;
}

a.button:hover {
    background-color:#D26935;
}

a.button.highlighten {
  margin-left: 5%;
  background-color: #9DC45F;
}

a.button.highlighten:hover {
    background-color:#80A24A;
}


/*=========================
      BOOKEMARKS BOXES
=========================*/

#links-container {
  background-color:#F8F8F8;;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

.link {
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  background: #FBFBFB;
  display: block;
  margin: 10px;
  padding: 15px 15px 15px 15px;
  list-style-type: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.link a.title {
  color:#fd6214;
  letter-spacing: 1px;
  text-decoration: none;
}

.link a.title:visited {
  color:#fd6214;
}

  }

.link .description {
  margin: 10px inherit;
}

.link .source {
  float: right;
  font-size: 12px;
}

/*
============================
          FOOTER
============================*/

footer {
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  display:flex;
  background-image: linear-gradient(to bottom, #e2e2e2, #ffffff);
  border-top: 1px solid #ccc;
  width:100%;
  height: 70px;
  position:fixed;
  bottom:0;
  text-align: right;
}

footer > * {
  margin: auto inherit;
}

footer img {
  vertical-align:top;
}

footer#technologies {
  -webkit-flex:1px;
  flex:1;
}

div#technologies {
  margin-left: auto;
}

footer p {
  padding: 5px 25px
}

/*===========================
      ADD LINKS FORM
===========================*/

.smart-green {
    margin-top:6%;
    margin-bottom: 6%;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="text"] {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-green .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
    background-color:#80A24A;
}

/*===========================
        SIGN OUT FORM
===========================*/

.smart-orange {
    margin-top:6%;
    margin-bottom: 6%;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.smart-orange h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #F09A6F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #D26935;

}
.smart-orange h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-orange label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-orange label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-orange input[type="password"], input[type="text"] {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-orange .button {
    background-color: #F09A6F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-orange .button:hover {
    background-color:#D26935;
}

/*===========================
        SIGN IN FORM
===========================*/

.smart-orange {
    margin-top:6%;
    margin-bottom: 6%;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.smart-orange h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #F09A6F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #D26935;

}
.smart-orange h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-orange label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-orange label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-orange input[type="password"], input[type="text"] {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-orange .button {
    background-color: #F09A6F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-orange .button:hover {
    background-color:#D26935;
}

















