<form action="/users" method="post" class="smart-orange">
  <h1>Please sign up
    <span>Please fill all the fields.</span>
  </h1>
  <label>
    <span>Email :</span>
    <input id="email" type="email" name="email" placeholder="example@example.com" />
  </label>

  <label>
    <span>Password :</span>
    <input id="password" type="password" name="password" />
  </label>

  <label>
    <span>And again :</span>
    <input id="password_confirmation" type="password" name="password_confirmation"></input>
  </label>
  <label>
    <span>&nbsp;</span> 
    <input type="submit" class="button" value="Sign up" /> 
  </label>
</form>
