<form action="/request_password" method="post" class="smart-orange">
    <h1>Request your password
        <span>Please, insert your email</span>
    </h1>
    <label>
        <span>Email :</span>
        <input id="email" type="text" name="email" placeholder="example@example.com" />
    </label>

    <label>
        <span>&nbsp;</span> 
        <input type="submit" class="button" value="Submit" /> 
    </label>
</form>
