<div id="new-link">
  <form action="/links" method="post" class="smart-green">
    <h1>Add link
      <span>Please fill all the fields.</span>
    </h1>
    <label>
      <span>URL :</span>
      <input id="url" type="url" name="url" placeholder="http://www.example.com" />
    </label>

    <label>
      <span>Title :</span>
      <input id="title" type="text" name="title" placeholder="title" />
    </label>

    <label>
      <span>Tags :</span>
      <input id="tags" type="text" name="tags" placeholder="tags"></input>
    </label>
    <label>
      <span>&nbsp;</span>
      <input type="submit" class="button" value="Add" />
    </label>
  </form>
</div>
