<!DOCTYPE html>
<html>
<head>
	<title> Bookmark manager</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/application.css"> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
	<body>
	<%= partial :header %>
	<%= partial :flash %>
	<%= yield %>
	</body>
</html>